<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.css" />
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>	
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<title>RoboMove</title>
</head>
{% if workerId != None %}
<body>
	<div class="row">
	  <div class="col-sm-6" style="padding-left: 2em; overflow-y: scroll;height: 800px;">
	  		<h3>WORKER ID: {{workerId}}</h3>
	  		<!-- <div id="accordion">
			  <h2 id = "instructions">Instructions</h2>
			  <div>
			    <p>Hi, I am Bucky, a robot who is tasked with helping humans in any way possible. I am just a small child right now and need to be trained. Instructions are given to me by humans and I have to complete them <strong>efficiently</strong>. I can <strong> make use of all objects around me.</strong> I want to <strong>minimise the effort and time taken to complete the action.</strong> Can you help me with some of the instructions that humans have given me?</p>
			    <p>I have just some small number of actions mentioned below. Read them carefully as you will need to use them.</p>
			    <ul>
			    	<li> <strong>Move robot to object:</strong> Moves robot to a place near the object selected. </li>
			    	<li> <strong>Pick source and place on desination:</strong> Moves to the source object, picks it up, and then carries it to the destination object and places it on top of it. Example usage: to pick and place a book inside the box. </li>
			    	<li> <strong>Push object to destination:</strong> Goes near the source object and pushes it to a place near the destination object. </li>
			    	<li> <strong>Open/Close object:</strong> Opens the cupboard or fridge or some other object that can be opened. Example usage will be to open the cupboard to find milk inside it. </li> 
			    	<li> <strong>Pick object:</strong> Similar to the "pick source and place on destination", this just does the first part of the action, it goes to the object and picks it up. </li> 
			    	<li> <strong>Drop object:</strong> Similar to the "pick source and place on destination", this just does the second part of the action, it drops the object that it already has in its hand.</li> 
			    </ul>
			    <strong> Undo Move: Use the undo button to reverse the last action.</strong>
			    <br/>
			    <p>The first task is a tutorial task which needs to be completed by everyone. Take a look at the <strong>"Sample Example"</strong> provided.</p>
			  </div>
			  <h3><strong>Sample Example</strong></h3>
			  <div>
			  	<p><strong>Suppose you are given the task : “Transport all cubes to the box”</strong> </p>
			  	<p> Bucky needs to transport the three cubes to the box. There are two options for him :- </p>
			  	<ol>
			  		<li> He can transport all cubes 1 by 1. This can be done by the following sequence of moves.
			  			<ul>
			  				<li> Pick and place (source = cube1, destination = box)</li>
			  				<li> Pick and place (source = cube2, destination = box)</li>
			  				<li> Pick and place (source = cube3, destination = box)</li>
			  			</ul>
			  		</li>
			  		<li> However, it is clear that we can make use of the environment around us. For example, we can use the tray to keep all cubes on it and then in in one instruction, transport the tray to the box. This can be done by :-
			  			<ul>
			  				<li> Pick and place (source = cube1, destination = tray)</li>
			  				<li> Pick and place (source = cube2, destination = tray)</li>
			  				<li> Pick and place (source = cube3, destination = tray)</li>
			  				<li> Pick and place (source = tray, destination = box)</li>
			  			</ul>
			  		</li>
			  	</ol>
			  	<p>This is the kind of examples we want you to give the robot. We want you to essentially use your own common sense, that is what distinguishes you from robots. Treat Bucky as your own child.</p>
			  	<p> You are expected to explore the simulator and complete the tutorial using these instructions </p>
			  </div>
			</div> -->
			<h4>Explore (Discover where different objects are kept)</h4>
			{% for object in world_objects %}
				<button id="{{object}}" class="btn btn-info">{{object}}</button>
			{% endfor %}
	  		<h2> Task Description (Goal to achieve) <span id="time" style="color: red;">10:00</span> </h2>
	  		<!-- <p> Transport all the cubes from the table to the box. You may use any objects that are present in the room. Creative usage of objects will be helpful for us. This is the tutorial task.</p> -->
	  		<p> {{goal_text}}</p>
	  		<h2>Instruction Input</h2>
			<select class="form-control" id="predicate_dropdown" data-live-search="true">
				<option selected="selected"> Select the verb/predicate you want </option>
				{% for i in list_of_predicates %}
					<option> {{ i }} </option>
				{% endfor %}
			</select>
			<label for="predicate"> ( </label>
  			<div id = "arguments">
	  		</div>
	  		) <br/>
	  		<div class="row" style="padding-left: 30em">
	  			<div>
		  			<button type="button" class="btn btn-success" id="execute_move">Execute Move</button>
		  		</div>
		  		<div>
		  			<button type="button" class="btn btn-danger" id="undo_move">Undo Move</button>
		  		</div>
	  			<div>
		  			<button type="button" class="btn btn-danger" id="restart_process">Restart Process</button>
		  		</div>
		  	</div>
		  	<div id = "move_list_div" style="background-color: yellow;">
			  	<h3> Move list </h3>
		  		<ol id = "move_list">
		  		</ol>
		  	</div>
	  </div>
		<div class="col-sm-6">
		  <div class = "row">
		  	<img src="{{ url_for('get_simulator_state') }}" style="width: 100%;">
		  </div>
		  <div class="row">
		    <div class="col-sm-2">
				<div class="custom-control custom-switch">
				  <input type="checkbox" class="custom-control-input" id="toggleView" onclick="toggle()">
				  <label class="custom-control-label" for="toggleView">Toggle view</label>
				</div>
			</div>
			<div class="col-sm-2">
				<img src="{{base_url}}/static/up.png" style="width:50px;height:50px;" alt="Zoom in" onclick="zoomIn()">
			</div>
			<div class="col-sm-2">
				<img src="{{base_url}}/static/down.png" style="width:50px;height:50px;" alt="Zoom Out" onclick="zoomOut()">
			</div>
		  	<div class="col-sm-2">
		  		<img src="{{base_url}}/static/left.png" style="width:50px;height:50px;" alt="Rotate camera left" onclick="rotateLeft()">
			</div>
		  	<div class="col-sm-2">
		  		<img src="{{base_url}}/static/right.png" style="width:50px;height:50px;" alt="Rotate camera right" onclick="rotateRight()">
		  	</div>
		  </div>
		  <div class="row">
		  	<h4>General Instructions</h4>
			<ul>
				<li><strong>Please take a look at the sample example which has been provided before starting.</strong></li>
				<li>Keep in mind the weight, feel and physical properties. We have tried to simulate the real world.</li>
				<li>Please refrain from giving instructions not possible in the real world. However we support creativity.</li>
			</ul>
		  </div>
		</div>
	</div>
	<script>
		$( function() {
	    $( "#accordion" ).accordion({
	      collapsible: true
	    });
	  } );
		function zoomIn(){
			$.ajax({
		      url: "{{base_url}}/zoomIn",
		      type: "post",
		      data: {direction: "up"},
		      success: function(response) {
		      },
		      error: function(xhr) {
		      }
		    });
		}
		function toggle(){
			$.ajax({
		      url: "{{base_url}}/toggle",
		      type: "post",
		      data: {direction: "toggle"},
		      success: function(response) {
		      },
		      error: function(xhr) {
		      }
		    });
		}
		function zoomOut(){
			$.ajax({
		      url: "{{base_url}}/zoomOut",
		      type: "post",
		      data: {direction: "down"},
		      success: function(response) {
		      },
		      error: function(xhr) {
		      }
		    });
		}
		function rotateLeft(){
			$.ajax({
		      url: "{{base_url}}/rotateCameraRight",
		      type: "post",
		      data: {direction: "left"},
		      success: function(response) {
		      },
		      error: function(xhr) {
		      }
		    });
		}
		function rotateRight(){
			$.ajax({
		      url: "{{base_url}}/rotateCameraLeft",
		      type: "post",
		      data: {direction: "right"},
		      success: function(response) {
		      },
		      error: function(xhr) {
		      }
		    });
		}
		$("#predicate_dropdown").change(function(){
		    var text = $(this).val();

		    $.ajax({
		      url: "{{base_url}}/arguments",
		      type: "get",
		      data: {predicate: text},
		      success: function(response) {
		        $("#arguments").html(response);
		      },
		      error: function(xhr) {
		        //Do Something to handle error
		      }
		    });
		});
		$("#execute_move").click(function(){
			var i = 0;
			var data_for_arguments = {};
			data_for_arguments["predicate"] = $("#predicate_dropdown").val();
			while (true){
				var arg = "arg" + i;
				var text = $("#"+arg).val();
				if (typeof text == "undefined"){
					break;
				}
				data_for_arguments[arg] = text;
				console.log(data_for_arguments);
				i += 1;
			}
			$.ajax({
		      url: "{{base_url}}/execute_move",
		      type: "post",
		      data: data_for_arguments,
		      success: function(response) {
		      	$("#move_list").append("<li> " + response + " </li>")
		      },
		      error: function(xhr) {
		      }
		    });
		});
		$("#undo_move").click(function(){
			$.ajax({
		      url: "{{base_url}}/undo_move",
		      type: "get",
		      success: function(response) {
		      	$("#move_list li:last").remove();
		      },
		      error: function(xhr) {
		      }
		    });
		});
		$("#restart_process").click(function(){
			$.ajax({
		      url: "{{base_url}}/restart_process",
		      type: "get",
		      success: function(response) {
		      	window.location = "{{base_url}}/";
		      },
		      error: function(xhr) {
		      }
		    });
		});
		{% for object in world_objects%}
			$("#{{object}}").click(function(){
				$("#execute_move").disabled = true;
				$("#undo_move").disabled = true;
				$.ajax({
			      url: "{{base_url}}/showObject",
			      type: "post",
			      data: {"object": "{{object}}" },
			      success: function(response) {
			      	$("#execute_move").disabled = false;
					$("#undo_move").disabled = false;
			      },
			      error: function(xhr) {
			      }
			    });
			});
		{% endfor %}
		function checkIfError() {
		  $.ajax({
		    url: '/check_error',
		    success: function(data) {
		    	if (data != ""){
		    		alert(data);
		    		if (data == "You have completed this tutorial."){
		    			// $('#next-tut').prop('disabled', false);
		    			window.location = "{{base_url}}/"
		    		}
		    	}
		    }
		  });
		  setTimeout(checkIfError, 1000);
		}

		$(document).ready(function() {
		  setTimeout(checkIfError, 1000);
		});
		function startTimer(duration, display) {
		    var timer = duration, minutes, seconds;
		    setInterval(function () {
		        minutes = parseInt(timer / 60, 10);
		        seconds = parseInt(timer % 60, 10);

		        minutes = minutes < 10 ? "0" + minutes : minutes;
		        seconds = seconds < 10 ? "0" + seconds : seconds;

		        display.textContent = minutes + ":" + seconds;

		        if (--timer < 0) {
		            timer = duration;
		            alert("Time Complete");
		        }
		    }, 1000);
		}

		window.onload = function () {
		    var tenMinutes = 60 * 10,
		        display = document.querySelector('#time');
		    startTimer(tenMinutes, display);
		};
	</script>
</body>
{% else %}
	<body>
		<h1>Please enter your MTurk Worker ID to continue</h1>
		  <div class="form-group col-sm-6">
		    <label for="workerId">Worker ID on Mturk</label>
		    <input class="form-control" id="workerId" aria-describedby="workerId" placeholder="WorkerId">
		    <br>
		    <button type="submit" class="btn btn-primary" id="submitIDandTut">Submit and Start Tutorial</button>
		    <button type="submit" class="btn btn-primary" id="submitIDandWork">Submit and Start Working</button>
		  </div>
		<script type="text/javascript">
			$("#submitIDandWork").click(function(){
				$.ajax({
			      url: "{{base_url}}/workerId",
			      type: "post",
			      data: {"workerId": $("#workerId").val()},
			      success: function(response) {
			      	window.location = "{{base_url}}/";
			      },
			      error: function(xhr) {
			      }
			    });
			});
			$("#submitIDandTut").click(function(){
				$.ajax({
			      url: "{{base_url}}/workerId",
			      type: "post",
			      data: {"workerId": $("#workerId").val()},
			      success: function(response) {
			      	window.location = "{{base_url}}/tutorial/1";
			      },
			      error: function(xhr) {
			      }
			    });
			});
		</script>
	</body>
{% endif %}
</html>