<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>	
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<title>RoboMove</title>
</head>
<body>
	<div style="padding-left: 2em">
		<h1>Tutorial</h1>
		<h3>Actions that the robot can perform</h3>
		<ol>
			<li>
				<h5><strong>Open/Close Object</strong></h5>
				<p>Opens the cupboard or fridge or some other object that can be opened. Example usage will be to open the cupboard to find milk inside it.</p>
				<video style="width: 80%" controls>
			      <source src="{{base_url}}/static/open.mp4" type=video/mp4>
			    </video>
			</li>
			<li>
				<h5><strong>Push object to destination: </strong></h5>
				<p><strong>Sometimes an object may be too heavy to pick up for the robot.</strong> In such a case, the robot goes near the source object and pushes it to a place near the destination object.</p>
			</li>
			<li>
				<h5><strong>Climb up an object/ Climb down an object</strong></h5>
				<p><strong>Sometimes an object may be at a different height than the robot, i.e the robot may not be able to reach it.</strong> In such a case, the robot can climb onto the object specified, so that its height may increase.</p>
			</li>
		</ol>
		<h5>The video below is of a robot trying to put milk (which is at a height above the robot), into the cupboard (which is intially closed) using a stool by climbing on top of it.</h5>
		<video style="width: 80%" controls>
	      <source src="{{base_url}}/static/complete_tutorial_5.mp4" type=video/mp4>
	    </video>
		<a href="{{base_url}}/tutorial/6" class="btn btn-success" style="width: 50%">Next</a>
	</div>		
</body>
</html>