<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>	
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<title>RoboMove</title>
</head>
<body>
	<div style="padding-left: 2em">
		<h1>Tutorial</h1>
		<h3>Getting to know the simulator</h3>
		<img src="{{base_url}}/static/simulator.jpg" style="width: 50%">
		<div>
			<p>Hi, I am Bucky, a robot who is tasked with helping humans in any way possible. I am just a small child right now and need to be trained. Instructions are given to me by humans and I have to complete them <strong>efficiently</strong>. I can <strong> make use of all objects around me.</strong> I want to <strong>minimise the effort and time taken to complete the action.</strong> Can you help me with some of the instructions that humans have given me?</p>
		</div>
		<div>
			<h3>Components of the simulator</h3>
			<ol>
				<li>
					<img src="{{base_url}}/static/robot.jpg" style="width: 10%">
					<strong>This is Bucky, the robot you will be controlling.</strong>
				</li>
				<li>
					<img src="{{base_url}}/static/up.png" style="width: 4%"/>
					<strong>ZOOM IN</strong>
				</li>
				<li>
					<img src="{{base_url}}/static/down.png" style="width: 4%"/>
					<strong>ZOOM OUT</strong>
				</li>
				<li>
					<img src="{{base_url}}/static/left.png" style="width: 4%"/>
					<strong>Rotate the view of the robot left</strong>
				</li>
				<li>
					<img src="{{base_url}}/static/right.png" style="width: 4%"/>
					<strong>Rotate the view of the robot right</strong>
				</li>
				<li><strong>Undo Move: </strong> reversing a move made wrongly.</li>
			</ol>
			<h3>Finding objects in the simulator</h3>
			<p>The buttons corresponding to each object (in the explore section) help you find it. The following video shows how one will find a gray bottle. <strong> Some objects may not be visible and may be hidden in cupboards.</strong></p>
			<video style="width: 80%" controls>
		      <source src="{{base_url}}/static/showobject.mp4" type=video/mp4>
		    </video>
		</div>
		<a href="{{base_url}}/tutorial/2" class="btn btn-success" style="width: 50%">Next</a>
		<br>
	</div>
</body>
</html>